extends ../../index.pug

block content

	//- Dygraphs
	script( type='text/javascript' src='https://unpkg.com/dygraphs@2.1.0/dist/dygraph.min.js' )

	script( type='text/javascript' src='/public/Services/AlbionDataService/GoldPrices.js' )

	div( ng-controller='GoldPrices_Controller' )

		script
			!= `window.SERVER_DATA = {};\n`
			if( locals.User )
				!= `window.SERVER_DATA.User = ${JSON.stringify( locals.User )};\n`

		.w3-container.w3-margin

			.w3-row 
				h1 Gold Prices

			.w3-row
				.w3-cell.w3-padding
					p.no-line-break Start Date : 
				.w3-cell.w3-padding
					input.w3-input.w3-center(
						type="text"
						ng-model="Page.StartDate"
					)

				.w3-cell.w3-padding
					p.no-line-break End Date : 
				.w3-cell.w3-padding
					input.w3-input.w3-center(
						type="text"
						ng-model="Page.EndDate"
					)

				.w3-cell.w3-padding
					.w3-button.w3-primary.w3-border(
						ng-click="Page.ReloadChart()"
					) Reload

			.w3-row.w3-margin.w3-center(
				id="GoldPricesChartLegend"
			)

			.w3-row(
				id="GoldPricesChart"
				style="position:absolute; width:90vw; height:60vh"
			)

